###
## Game Guard
# Включен?
GameGuardEnable = False

# Интервал проверки, секунды
GameGuardInterval = 60

# Логировать нарушителей
GameGuardLog = False
## Наказание
# 0 - Откл
# 1 - Кик из игры
# 2 - Бан аккаунта
GameGuardPunish = 1